/* sign in window for the shipping website */

.sign-in-window{

  margin:18.75rem;
  padding:0rem 7rem 7rem 7rem;
  border:1px solid black;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  box-shadow:0rem 0rem .5rem grey;

}

.logo{

  width:18rem;
  height:auto;
  padding:2rem 2rem 1rem 2rem;
  /* border:1px solid black; */

}

.shipping-submit-btn{

  /* border:1px solid black; */
  margin:.5rem;
  display:flex;
  justify-content:center;


}

#shipping-submit-btn{

  width:100%;

}